ui vesamenu.c32
PROMPT 0
menu background background.jpg
menu title {{ pxe_title_menu }} PXE boot menu

LABEL bootlocal
   menu label Boot from first HDD
   kernel chain.c32
   append hd0 0
   timeout 120
 TEXT HELP
The system will boot after time is up.
 ENDTEXT

LABEL Linux             ->
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/linux

LABEL FreeBSD           ->
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/bsd

LABEL LiveCDs                     ->
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/livecds