PROMPT 0
UI vesamenu.c32
MENU BACKGROUND background.jpg
MENU TITLE Linux

LABEL <- Main Menu
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/default

LABEL Debian-9-x64
        kernel {{ dir.debian_dir }}/{{ dir.debian_dir_version[0] }}/debian-installer/amd64/linux
        append initrd={{ dir.debian_dir }}/{{ dir.debian_dir_version[0] }}/debian-installer/amd64/initrd.gz

LABEL Debian-10-x64
        kernel {{ dir.debian_dir }}/{{ dir.debian_dir_version[1] }}/debian-installer/amd64/linux
        append initrd={{ dir.debian_dir }}/{{ dir.debian_dir_version[1] }}/debian-installer/amd64/initrd.gz
LABEL Debian-11-x64
        kernel {{ dir.debian_dir }}/{{ dir.debian_dir_version[2] }}/debian-installer/amd64/linux
        append initrd={{ dir.debian_dir }}/{{ dir.debian_dir_version[2] }}/debian-installer/amd64/initrd.gz
LABEL CentOS-7-x64
        kernel {{ dir.centos_dir }}/{{ dir.centos_dir_version }}/vmlinuz
        append initrd={{ dir.centos_dir }}/{{ dir.centos_dir_version }}/initrd.img method=http://mirror.mirohost.net/centos/7/os/x86_64/ devfs=nomount ksdevice=link ramdisk_size=100000
LABEL Ubuntu-16.04-x64
        kernel {{ dir.ubuntu_dir }}/{{ dir.ubuntu_dir_version[0] }}/ubuntu-installer/amd64/linux
        append initrd={{ dir.ubuntu_dir }}/{{ dir.ubuntu_dir_version[0] }}/ubuntu-installer/amd64/initrd.gz expert dmraid=true

LABEL Ubuntu-20.04-x64
        kernel {{ dir.ubuntu_dir }}/{{ dir.ubuntu_dir_version[1] }}/ubuntu-installer/amd64/linux
        append initrd={{ dir.ubuntu_dir }}/{{ dir.ubuntu_dir_version[1] }}/ubuntu-installer/amd64/initrd.gz expert dmraid=true

LABEL <- Main Menu
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/default
